* {
  padding: 0;
  margin: 0;
}
* body {
  width: 100%;
  background: #f0f0f0;
}
* body header {
  width: 100%;
  height: 3.125rem;
  background: #fff;
  line-height: 3.125rem;
  display: flex;
  justify-content: space-between;
}
* body header img {
  width: 0.7rem;
  height: 0.9rem;
  margin-top: 1.05rem;
  margin-left: 0.625rem;
}
* body header .title {
  font-size: 1.125rem;
  font-weight: 500;
}
* body nav {
  width: 100%;
  padding: 1.25rem 0;
  background: #c5e0eb;
  padding-left: 0.625rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: #413e3e;
}
* body section {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}
* body section .box {
  width: 100%;
  height: 2.875rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
* body section .box .box1 {
  display: flex;
}
* body section .box .box1 .ipt {
  height: 2.675rem;
  border: none;
  font-size: 1.1rem;
}
* body section .box .box1 .name {
  width: 4.25rem;
  line-height: 2.875rem;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
  color: #949090;
  font-size: 0.875rem;
}
* body section .box img {
  width: 1.175rem;
  height: 1.175rem;
  margin-top: 0.725rem;
  margin-right: 0.625rem;
}
* body section .box3 {
  width: 100%;
  height: 9.25rem;
  background: #fff;
  padding: 0.625rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
* body section .box3 .ty {
  width: 20%;
  margin-left: 0.625rem;
  font-size: 0.875rem;
  color: #adaaaa;
}
* body section .box3 .ti {
  width: 80%;
  height: 7rem;
  background: #949191;
  margin-right: 0.625rem;
  border-radius: 0.3125rem 0.3125rem;
}
* body section .box3 .ti p {
  margin: 1.25rem;
  color: #706e6e;
  font-size: 0.75rem;
}
